body,html {
	margin:0 5px 0 5px;
	font-family: Arial, Sans-serif;
    font-family: Arial, Sans-serif;
    font-size: 14px;
	background-image: none;
	background-color: #fff;
}

h3 {font-size: 16px;}

.nadpis, .nadpis a, .nadpis a:hover {
	font-family: Verdana, Arial, Helvetica;
	color: #FFFFFF;
	padding: 10px;
	border-bottom: 1px navy solid;
	border-top: 1px navy solid;
	text-align: center;
	font-weight: bold;
	background-color: #2375d2;
}

/* seznam závodníků */

table#zavodnici  {border-collapse: collapse; font-size: 12px; }
#zavodnici td{ background-color: white; }
#zavodnici th {background-color: gold; font-size: 12px; padding: 10px 20px 10px 2px;}
th.sorting, th.sorting.dtfc-fixed-left {background-color: gold !important; font-size: 13px; }
#zavodnici td, th {border: 1px solid #000 !important; padding: 4px;  vertical-align: middle !important;}
#zavodnici tr:hover td {background-color:#d8e6ff;}
#zavodnici img  {margin: 1px;}
td.functions {width: 1px; white-space: nowrap; text-align:center;}

#zavodnici td.squad, #zavodnici td.RegMail, #zavodnici td.NaMiste {text-align: center;}
#zavodnici td.Staff {color: #ff0000 !important; text-align: center;}
#zavodnici tr.zaplaceno td {color: #000000 !important ;background-color: #9fff9f;}
#zavodnici tr.zaplatinamiste td {color: #7433FF !important;}
#zavodnici tr.nezaplacenopolimitu td {color: #ff0000; font-weight: bolder; }
#zavodnici tr.urgence td {color: #ff0000;}
#zavodnici tr.zrusenaregistrace td {color:#858585 !important;background-color: #d3d3d3 !important;}
/* seznam závodníků */

/* print preview */
table.print, td.print {border: 1px solid black !important;}
th.print {background-color: #dee2e6 !important; }


/*----------------------------------------------
	DatTable
-----------------------------------------------*/
.dataTables_scroll {font-size: 10px;}
.dtsb-titleRow, .dtsb-searchBuilder {display: none;}
.dtsb-group {max-width: 600px; margin-left: 40px !important;}
.btn-secondary, .btn-light{background-color: #939393 !important; color: #ffffff!important;}
.dt-print-view {background: #ffffff;}

/*----------------------------------------------
  Bootstrap
-----------------------------------------------*/

.close {opacity: .75;}
.navbar { border-bottom: 2px solid #e9ecef; }
.jumbotron, .alert { border-radius: 0px !important;}

::placeholder {
  color: #ced4da85 !important;
}


/*----------------------------------------------
  Datepicker
-----------------------------------------------*/
.datepicker-days th {border: none !important;}
