/*----------------------------------------------
	Main Structure
-----------------------------------------------*/

body,html {
	margin:0 5px 0 5px;
	font-family: 'Roboto Condensed', Sans-serif;
    font-size: 13px;
	background: #505050 url(../images/bkg.png) left top repeat !important;
}

.header {
    border-top: 8px solid rgb(22, 22, 22);
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo-left,
.logo-right {
    flex:1;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90px;
    width: auto;
    margin: 5px;
}

.logo-left {
    background-position: left center;
}

.logo-right {
	background-image: url("../images/logo-header-dvc.png");
    background-position: center right;
}

.text-center {
    flex: auto;            /* vyplní prostor mezi logy */
    text-align: center;
}

.text-center a:hover {
    text-decoration: none;
    color: #222;
}

.logo-text {
    color: #222;
    font-weight: bolder;
    text-shadow: 2px 2px 7px gray;
    font-size: 2.8em;
}

a.logo-text, a.card-link {
    text-decoration: none;
    color: #222;
}

.container {
    width: auto;
    margin: 0 auto;
    box-shadow: 0 0 6px #000;
	background-color:#F5F5F5 ;
	padding: 0px !important;
}

.content {
	padding: 10px;
}

.footer {
    background:#000;
    padding:10px;
    color: #fff;
    box-sizing:border-box;
}

.text-dashed {
    border-bottom: 1px dashed #999 !important;
    display: inline !important;
}

/* seznam závodníků */
th.sorting, th.sorting.dtfc-fixed-left {background-color: #2375d2 !important; font-size: 13px; }

table#zavodnici  {
    border-collapse: collapse; 
    font-size: 12px;
    max-width: 100% !important;
    white-space: nowrap;
}

#zavodnici th {
	background-color: #2375d2 !important;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    text-align: left;
	white-space: nowrap;
}

#zavodnici img  {margin: 1px;}

#zavodnici td {
    text-align: center;
	white-space: nowrap; 
}

#zavodnici td.Cislo {
    text-align: right;
}

#zavodnici td.Příjmení, 
#zavodnici td.Jméno {
    text-align: left;
    padding-left: 5px !important;
}

.badge {
    opacity: 0.8;
}

.btn.text-secondary:hover {
  color: #000 !important;
  background-color: rgba(0, 0, 0, 0.05);
}

button.modal_edit_shooter,
button.modal_regmail,
button.modal_info_shooter {
    font-size: inherit;

}

td.save-cell {
    width: 160px;
    text-align: center;
}

/* print preview */
table.print, td.print {border: 1px solid black !important;}
th.print {background-color: #dee2e6 !important; }

/* legenda */

.legenda ul{
	list-style-type: "- ";
}

.legenda li{
	margin-left: -15px;
	display: table;
}

/*----------------------------------------------
	Responsive
-----------------------------------------------*/

/*----------------------------------------------
	DataTable
-----------------------------------------------*/
.dataTables_scroll {font-size: 10px;}
.dtsb-titleRow, .dtsb-searchBuilder {display: none;} 
.dtsb-group {max-width: 600px;}
div.dt-container div.dt-layout-start>*:not(:last-child) {margin-left: 20px;}
.dt-print-view {background: #ffffff;}
.d-md-flex.dt-layout-start{ display: block !important;}
button.btn.btn-secondary.btn-rounded,
button.btn.btn-secondary.buttons-collection,
button.btn.btn-secondary.buttons-excel.buttons-html5,
button.btn.btn-secondary.buttons-csv.buttons-html5,
button.btn.btn-secondary.buttons-print
 {
    background-color: #4a9fff;
    color: #ffffff;
 }

/*----------------------------------------------
  Bootstrap
-----------------------------------------------*/

.close {opacity: .75;}

.navbar { border-bottom: 2px solid #e9ecef; }

::placeholder {
  opacity: .75 !important;
  font-style: italic;
}

.modal-body {
    max-height: 75vh; 
    overflow-y: auto; 
    overflow-x: hidden;
}

nav.navbar.navbar-expand-lg {padding: 10px;}

.accordion-body {background-color: #f5f5f5;}

.form-check-input {
    margin-right: 5px;
}

.toast-top-10 {
  top: 10px;
  z-index: 1080;
}

.btn-label {
    position: relative;
    left: -10px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}
.btn-labeled {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* login area - user */ 
.btn.btn-dark.custom:hover {
    background-color: #212529;
}


/*----------------------------------------------
  Datepicker
-----------------------------------------------*/
.datepicker-days th {border: none !important;}


/*----------------------------------------------
  Dropdown
-----------------------------------------------*/
/* Vlastní styl pro dropdown */
.custom-dropdown {
  visibility: hidden; /* Používáme visibility místo display */
  opacity: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.1);
  z-index: 1;
  transition: opacity 0.5s ease;
  border-radius: 0px 0px 5px 5px;
}
.custom-dropdown.show {
  visibility: visible;
  opacity: 1;
}
.custom-dropdown a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.custom-dropdown a:hover {
  color: white;
  background-color: #343a40;
  text-decoration: none;
}

/* Modal bude mít vyšší z-index než dropdown */
.modal {
  z-index: 1050;
}


/*----------------------------------------------
	Tooltip
-----------------------------------------------*/



.tooltip {
  cursor: help;
  position: relative !important;
  display: inline-block !important;
  border-bottom: 1px dotted black  !important;
  opacity: 1 !important;
  z-index: 100 !important;
  font-size: inherit  !important;
 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #F5F5F5;
  border: 1px solid darkgrey;
  color: black;
  border-radius: 5px;
  padding: 10px;
  font-size: 11px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 30px;
  right: -30%;

  opacity: 0;
  transition: opacity 0.5s;
}

.tooltiptext ul { 
	padding-left: 20px;
	font-weight: normal;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*----------------------------------------------
	Upload
-----------------------------------------------*/

.form-control {height: auto !important;}

